<h3 style="text-align: center;"> Tạo Mới quản lý Tem</h3>

<form [formGroup]="frmAddtenkdv" class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Số Lượng</mat-label>
    <input matInput formControlName="soLuong" type="number" required>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Seri Tem Hủy</mat-label> 
    <input matInput formControlName="seri_Tem_Huy" required>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Số Lượng Hủy</mat-label>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <input matInput formControlName="soLuong_Huy" type="number" required>
  </mat-form-field>
 <mat-form-field class="example-full-width">
    <mat-label>Seri Đầu</mat-label>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <input matInput formControlName="seri_Dau" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Seri Cuối</mat-label>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <input matInput formControlName="seri_Cuoi" required>
  </mat-form-field>

 

  <mat-form-field class="example-full-width">
    <mat-label>kDV_ID</mat-label>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-select formControlName="kdV_ID" required>
      <mat-option *ngFor="let p of danhmuctenKDV" [value]="p.id">{{p.tenDayDu}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>tem_ID</mat-label>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-select formControlName="tem_ID" required>
      <mat-option *ngFor="let p of danhmucTem" [value]="p.id">{{p.loai_Tem}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ngày tạo</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="ngay_Su_Dung" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <section>
    <div class="example-button-row">
      <button mat-raised-button [disabled]="!frmAddtenkdv.valid" (click)="confirmAdd()"
        [mat-dialog-close]="1">Save</button>
      <button (click)="onNoClick()" mat-raised-button>Cancel</button>
    </div>
  </section>
</form>