<h3>{{IsNew ? 'Tao moi' : 'chinh sua'}} Danh Mục Chì</h3>
<div *ngIf="error">
    {{error}}
</div>
<form [formGroup] = "theForm" (submit)="save()">
    <div class="example-container">
        <mat-form-field appearance="fill" >
          <mat-label>Mã Dây Chì</mat-label>
          <input matInput formControlName="ma_DayChi">
        </mat-form-field>
      <br> 
       <mat-form-field appearance="fill" >
          <mat-label>Loại Dây Chì</mat-label>
          <input matInput formControlName="loai_DayChi">
        </mat-form-field>
        
  
        <br>
        
      </div>
      <button mat-raised-button type="button" (click)="cancel()">huy</button>
      <button mat-raised-button type="submit" [disabled] = "theForm.invalid || IsSaving">save</button>

    </form>
